.contentDiv {
  padding: 5px;
}

.iconFeedback {
  font-size: 23px;
}
.feedbackRender {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 10px;
  margin: 5px;
  background-color: #FBFBFB;
  transition: 0.3s;
}
.feedbackRender:hover {
  background-color: #f2f2f2;
}
